


:root{
	--praimar: #429b58;
    --second:#f3f3f3;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
	margin-bottom: 0px;
	font-size: 14px;
	color: #666666;
	line-height: 30px;
}
a {
	text-decoration: none!important;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}


/*----------------profile & log out------------------------------*/
.login_bt {
    width: 200px;
    float: left;
}

.login_bt ul {
    margin: 0px;
    padding: 0px;
}

.login_bt li {
    float: right;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 30px;

}
.firs{
    padding-bottom: 11px;
    padding-left: 17px;
    padding-right: 17px;
    cursor: pointer;
    margin-left: 50px;
}
.firs:hover{
    border:2px solid #005db4;
}
.firs .first_name{
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;

}


.login_bt li a {
    color: #ffffff;

}

.login_bt li a:hover {
    color: #252525;
}


a.filled-button {
	background-color: var(--praimar);
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 12px 30px;
	border-radius: 30px;
	display: inline-block;

	transition: all 0.3s;
}

a.filled-button:hover {
	background-color: #fff;
	color: var(--praimar);
}

a.border-button {
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 28px;
	border-radius: 30px;
	display: inline-block;
	transition: all 0.3s;
}

a.border-button:hover {
	background-color: #fff;
	color: var(--praimar);
}

.section-heading {
	text-align: center;
	margin-bottom: 80px;
}

.section-heading h2 {
	font-size: 36px;
	font-weight: 600;
	color: #1e1e1e;
}

.section-heading em {
	font-style: normal;
	color:var(--praimar);
}

.section-heading span {
	display: block;
	margin-top: 15px;
	text-transform: uppercase;
	font-size: 15px;
	color: #666;
	letter-spacing: 1px;
}

#preloader {
  overflow: hidden;
  background: var(--praimar);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Sub Header Style */

.sub-header {
	background-color:var(--praimar);
	height: 46px;
	line-height: 46px;
}

.sub-header ul li {
	display: inline-block;
}

.sub-header ul.left-info li {
	border-left: 1px solid rgba(250,250,250,0.3);
	padding: 0px 20px;
}

.sub-header ul.left-info li:last-child {
	border-right: 1px solid rgba(250,250,250,0.3);
}

.sub-header ul.left-info li i {
	margin-right: 10px;
	font-size: 20px;
}

.sub-header ul.left-info li a {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}

.sub-header ul.right-icons {
	float: right;
}

.sub-header ul.right-icons li {
	margin-right: -4px;
	width: 46px;
	display: inline-block;
	text-align: center;
	border-right: 1px solid rgba(250,250,250,0.3);
}

.sub-header ul.right-icons li:first-child {
	border-left: 1px solid rgba(250,250,250,0.3);
}

.sub-header ul.right-icons li a {
	color: #fff;
	transition: all 0.3s;
}

.sub-header ul.right-icons li a:hover {
	opacity: 0.75;
}



/* Header Style */
header {
	position: absolute;
	z-index: 99999;
	width: 100%;
	background-color: transparent!important;
	height: 80px;
	-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
header .navbar {
	padding: 20px 0px;
}
.background-header .navbar {
	padding: 10px 0px;
}
.background-header {
	top: 0;
	position: fixed;
	background-color: #fff!important;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}
.background-header .navbar-brand h2 {
	color:var(--praimar)!important;
}
.background-header .navbar-nav a.nav-link {
	color: #1e1e1e!important;
}
.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.current,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
	color: var(--praimar)!important;
}
.navbar .navbar-brand {
	float: 	right;
	margin-top: 12px;
	outline: none;
}
.navbar .navbar-brand h2 {
	color: #fff;
	font-size: 29px;
	font-weight: 700;
	-webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.navbar .navbar-brand h2 em {
	font-style: normal;
	font-size: 16px;
}
#navbarResponsive {
	z-index: 999;
}
.navbar-collapse {
	text-align: center;
}
.navbar .navbar-nav .nav-item {
	margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
	font-size: 19px;
	font-weight: 300;
	letter-spacing: 0.5px;
	color: #fff;
	transition: all 0.5s;
	margin-top: 5px;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.current,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
	color:var(--praimar);
	border-bottom: 3px solid var(--praimar);
}
.navbar .navbar-toggler-icon {
	background-image: none;
}
.navbar .navbar-toggler {
	border-color: #fff;
	background-color: #fff;
	height: 36px;
	outline: none;
	border-radius: 0px;
	position: absolute;
	right: 30px;
	top: 20px;
}
.navbar .navbar-toggler-icon:after {
	content: '\f0c9';
	color: var(--praimar);
	font-size: 18px;
	line-height: 26px;
	font-family: 'FontAwesome';
}



/* Banner Style */

.img-fill{
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.img-fill img {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  display: inline-block;
  max-width: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Grid1k {
  padding: 0 15px;
  max-width: 1200px;
  margin: auto;
}

.blocks-box,
.slick-slider {
  margin: 0;
  padding: 0!important;
}

.slick-slide {
  float: left;
  padding: 0;
}

.Modern-Slider .item .img-fill {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height:95vh;
}

.Modern-Slider .item-1 .img-fill {
	background-image: url(../images/Company-Analysis.jpg);
}

.Modern-Slider .item-2 .img-fill {
	background-image: url(../images/export-trading-company.jpg);
}

.Modern-Slider .item-3 .img-fill {
	background-image: url(../images/financialanalytics.jpg);
}

.Modern-Slider .NextArrow{
  position:absolute;
  top:50%;
  right:30px;
  border:0 none;
  background-color: transparent;
  text-align:right;
  font-size: 36px;
  font-family: 'FontAwesome';
  color:#FFF;
  z-index:5;
  outline: none;
  cursor: pointer;
}

.Modern-Slider .NextArrow:before{
  content:'\f105';
}

.Modern-Slider .PrevArrow {
  position:absolute;
  top:50%;
  left:30px;
  border:0 none;
  background-color: transparent;
  text-align:right;
  font-size: 36px;
  font-family: 'FontAwesome';
  color:#FFF;
  z-index:5;
  outline: none;
  cursor: pointer;
}

.Modern-Slider .PrevArrow:before{
  content:'\f104';
}

ul.slick-dots {
  display: none!important;
}

.Modern-Slider .text-content {
	text-align: right;
  	width: 75%;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.Modern-Slider .item h6 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  color:var(--praimar);
  animation:fadeOutRight 1s both;
}

.Modern-Slider .item h4 {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 2.5px;
  color:#FFF;
  overflow:hidden;
  text-align: right;
  animation:fadeOutLeft 1s both;
}

.Modern-Slider .item p {
	color: #cac9c9c5;
	font-size: 22px;
	font-weight: 400;
	text-align: right;
	line-height: 30px;
	margin-bottom: 40px;
}

.Modern-Slider .item a {
  margin: 0 5px;
  font-size: 18px;
}

.Modern-Slider .item.slick-active h6{
  animation:fadeInDown 1s both 1s;
}

.Modern-Slider .item.slick-active h4{
  animation:fadeInLeft 1s both 1.5s;
}

.Modern-Slider .item.slick-active{
  animation:Slick-FastSwipeIn 1s both;
}

.Modern-Slider .buttons {
  position: relative;
}

.Modern-Slider {background:#000;}


/* ==== Slick Slider Css Ruls === */
.slick-slider{position:relative;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}.slick-list.dragging{cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left /* If RTL Make This Right */ ;height:100%;min-height:1px}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}




/* Request Form */

.request-form {
	background-color: var(--praimar);
	padding: 40px 0px;
	color: #fff;
	text-align: right;
	direction: rtl;
}

.request-form h4 {
	font-size: 25px;
	font-weight: 600;
	text-align: right;

}

.request-form span {
	font-size: 18px;
	text-align: right;
	margin-top: 10px;
}

.request-form a.border-button {
	margin-top: 12px;
	font-size: 15px;
	float: left;
}




/* Services */

.services {
	margin-top: 140px;
}
.service-item {
	align-items: center;
	text-align: center;
}
.service-item img {
	width: 50%;
	overflow: hidden;

}

.service-item .down-content {
	padding: 30px;
}

.service-item .down-content h4 {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.25px;
	margin-bottom: 15px;
}

.service-item .down-content p {
	margin-bottom: 20px;
	font-size: 19px;
}



/* Fun Facts */

.fun-facts {
	margin-top: 140px;
	background-image: url(../images/single_service_03.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 140px 0px;
	color: #fff;
	direction: rtl;
}

.fun-facts span {
	font-size: 20px;
	color: #fff;
	margin-top: 70px;
	text-align: right;
	letter-spacing: 1px;
	margin-bottom: 10px;
	display: block;
}

.fun-facts h2 {
	font-size: 40px;
	text-align: right;
	font-weight: 600;
	margin-bottom: 35px;
}

.fun-facts em {

	font-style: normal;
	color: var(--praimar);
}



.fun-facts .left-content {
	margin-right: 45px;
	text-align: right;
}

.count-area-content {
	text-align: center;
	background-color: rgba(250,250,250,0.1);
	padding: 25px 30px 35px 30px;
	margin: 15px 0px;
	justify-content: center;
}

.count-digit {
    margin: 5px 0px;
    color:var(--praimar);
    font-weight: 700;
    font-size: 36px;
}
.count-title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;

    letter-spacing: 0.5px;
}


/* more Info 1*/

.more-info1 {
	margin-top: 140px;
}

.more-info1 .left-image1 img {
	width: 100%;
	overflow: hidden;
}

.more-info1 .more-info-content1 {
	background-color: #f7f7f7;
}

.about-info1 .more-info-content1 {
	background-color: transparent;
}

.about-info1 .right-content1 {
	padding: 0px!important;
	margin-right: 30px;
}

.more-info1 .right-content1 {
	padding: 45px 45px 45px 30px;
}

.more-info1 .right-content1 span {
	text-transform: uppercase;
	font-size: 22px;
	color: #666;
	letter-spacing: 1px;
	margin-bottom: 10px;
	display: block;
	text-align: right;
}

.more-info1 .right-content1 h2 {
	text-align: right;
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 35px;
}

.more-info1 .right-content1 em {
	font-style: normal;
	color: var(--praimar);
}

.more-info1 .right-content1 p {
	margin-bottom: 30px;
	text-align: right;
	font-size: 24px;
}

/* More Info2 */

.more-info {
	margin-top: 100px;
    direction: rtl;
}

.more-info .left-image{
	background: url("../images/single_service_04.jpg");
	width: 80%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 40px;
}

.more-info .more-info-content {
	background-color: #eeecec;
}

.about-info .more-info-content {
	background-color: transparent;
	margin-bottom: 120px;
	text-align: right;
}

.about-info .right-content {
	padding: 0px!important;
	margin-right: 30px;
	text-align: right;
}

.more-info .right-content {
	padding: 45px 25px 25px 30px;
	text-align: right;
	margin-bottom: 100px;
}

.more-info .right-content span {
	font-size: 22px;
	color: #666;
	letter-spacing: 1px;
	margin-bottom: 10px;
	display: block;
	text-align: right;
}

.more-info .right-content h2 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 35px;
	text-align: right;
}

.more-info .right-content em {
	font-style: normal;
	color: var(--praimar);
}

.more-info .right-content p {
	margin-bottom: 30px;
	text-align: right;
	font-size: 24px;
}
.more-info .right-content h5{
	margin-bottom: 17px;
	text-align: right;
	font-size: 25px;
}
.more-info .right-content img{
	width: 25px;
}



.video_bt {
    width: 100%;
    padding: 170px 0px;
}

.play_icon img {
    width: 80px;
}

.play_icon {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    text-align: center;
}

.play_icon::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 90px;
    width: 90px;
    height: 90px;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 100%;
    animation: fadeEffect 1.3s infinite ease;
    box-shadow: 0px 0px 10px 0px;
    right: 0px;
    margin: 0 auto;
    z-index: -1;
}

@keyframes fadeEffect {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1
    }
    100% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0;
    }
}


/* Testimonials Style */

/*service......................................................*/

.body2{
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	position: relative;
  }

  ::selection{
	background:	var(--praimar);
	color: #fff;
  }
  .body2 .container{
	max-width: 950px;
	width: 100%;
	overflow: hidden;
	padding: 80px 0;
  }
  .body2 .container .main-card{
	display: flex;
	justify-content: space-evenly;
	width: 200%;
	transition: 1s;
  }
  #two:checked ~ .main-card{
	margin-left: -100%;
  }




  .body2 .container .button{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 20px;
  }
  .button label{
	height: 45px;
	text-align: center;
	 font-size: 20px;
	border-radius: 8px;
	width: 105px;
	padding: 6px;
	color: #000000;
  background-color: #ffffff;
	margin: 0 4px;
	cursor: pointer;
	border: 1px solid #a5a5a5;

	transition: all 0.5s ease;
  }
  .button label.active{
	width: 85px;
	background-color:var(--praimar);

  }
  #one:checked ~ .button .one{
	width: 105px;
	background-color: var(--praimar);
	color: #ffffff;
  }
  #one:checked ~ .button .two{
	width: 85px;
	color: #000000;

  }
  #two:checked ~ .button .one{
	width: 85px;
	border: 1px solid #a5a5a5;
	background-color: rgb(255, 255, 255);
  }
  #two:checked ~ .button .two{
	width: 105px;
	background-color: var(--praimar);
	color: #ffffff;


  }
  input[type="radio"]{
	display: none;
  }
  @media (max-width: 768px) {
	.main-card .cards .card{
	  margin: 20px 0 10px 0;
	  width: calc(100% / 2 - 10px);
	}
  }
  @media (max-width: 600px) {
	.main-card .cards .card{
	  /* margin: 20px 0 10px 0; */
	  width: 100%;
	}
  }

  .body2 .container .content{
	max-width: 1090px;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  .body2 .container .content .card{
	border: 0.5px solid #fff;
	background: #e7e7e7d0;
	width: calc(35% - 29px);
	text-align: center;
	padding: 15px 30px  30px 30px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  .body2 .container .content .card .top{
	color: #fff;
	padding: 12px 0 0 0 ;
  }


   .body2 .container .content .card .top .title{
   font-size: 27px;
   color: var(--praimar);
   font-weight: 600;
  }
  .body2 .container .content .card .top .price-sec{
	margin-top: -10px;
	font-weight: 600;
  }
  .body2 .container .content .card .top .price{
	font-size: 45px;
  }
  .body2 .container .content .card .info{
	font-size: 22px;
	color: #000000;
  }



  @media (max-width:1000px) {
	.body2 .container .content .card{
		background: #e7e7e7d0;
		color: #000000;
	  width: calc(50% - 20px);
	  margin-bottom: 30px;
	  margin: 10px;

  }
  }
  @media (max-width:715px) {
	.body2 .container .content .card{
	  width: 100%;
	  margin: 40px;
  }

  }

/* Call Back Style */
/** contact................................................. **/

.contact {
    background: #fff;
    padding-top:80px;
	margin-bottom: 50px;
}

.contact .titlepage h2 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 35px;
	text-align: center;
}

.contact .titlepage em {
	font-style: normal;
	color: var(--praimar);
}


 .contact .main_form {
	box-shadow: 0 0 59px rgba(30, 30, 29, 0.09);
	padding: 50px;
	direction: rtl;
	text-align: right;
}


.main_form .form_control {
    padding: 0;
	text-align: right;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    background: transparent;
    color: #676767;
    font-size: 17px;
    font-weight: normal;
    border: inherit;
    border-bottom: #676767 solid 1px;
}

.main_form .textarea2 {
    margin-bottom: 20px;
    width: 100%;
    background: transparent;
    color: #676767 !important;
    font-size: 19px;
    padding: 0;
    border: inherit;
	text-align: right;
    border-bottom: #676767 solid 1px;
    height: 155px;
}

.main_form .send_btnt {
    font-size: 18px;
    transition: ease-in all 0.5s;
    background-color: var(--praimar);
    text-transform: uppercase;
    color: #fff;
    max-width: 172px;
    width: 100%;
    display: block;
    margin-top: 10px !important;
    font-weight: bold;
    height: 58px;
    line-height: 58px;
}

.main_form .send_btnt:hover {
    background-color: #fff;
    transition: ease-in all 0.5s;
    color: var(--praimar);
}

#request *::placeholder {
    color: #676767;
    opacity: 1;
}


.main_form .cont_in {
    padding: 0;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    background: transparent;
    color: #676767;
    font-size: 19px;
    font-weight: normal;
    border: inherit;
    border-bottom: #676767 solid 1px;
}


.main_form .send_btnt {
    font-size: 18px;
    transition: ease-in all 0.5s;
    background-color: var(--praimar);
    text-transform: uppercase;
    color: #fff;
    width: 20%;
    display: block;
	border-radius: 50px;
    font-weight: bold;
    height: 50px;
    line-height: 28px;
}

.main_form .send_btnt:hover {
    background-color: #fff;
    transition: ease-in all 0.5s;
    color: var(--praimar);
}

#request *::placeholder {
	text-align: right;
    color: #676767;
    opacity: 1;
}



/** end contact **/


/* Partners Style */

.contact-partners {
	margin-top: -8px!important;
}

.partners {
	margin-top: 170px;
	background-color: #f7f7f7;
	padding: 60px 0px;
}

.partners .owl-item {
	text-align: center;
	cursor: pointer;
}

.partners .partner-item img {
	max-width: 156px;
	margin: auto;
}



/* Footer Style */

/* footer section start */

footer {
    background-color: #343434;
    width: 100%;
    min-height: 400px;
    text-align: center;
    padding: 70px 0px 0px 0px;
  }
  footer h5{
    color: #fff;
    padding-bottom: 10px;
  }
  footer h4{
    color: var(--praimar);
    font-size: 3rem;
    margin-bottom: 30px;
  }
  .contact-nav li {
    display: inline;
    color: #fff;
  }
  .contact-nav a {
    color: #fff;
    font-size: 1.1rem;
    padding: 20px 20px;
  }
  .contact-nav a:hover {
    color: var(--praimar);
  }
  footer h6 {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 20px;
  }

/* footer section end */





@media (max-width: 575px) {

    footer h4{
      font-size: 2.5rem;
    }
  }
  @media (max-width: 454px) {

    footer h4{
      line-height: 2.6rem;
    }
    .contact-nav li {
      display: block;
    }
    .social-icons li {
      display: block;
    }
  }


footer ul.social-icons {
	margin-top: 25px;
}

footer ul.social-icons li {
	display: inline-block;
	margin-right: 5px;
}

footer ul.social-icons li:last-child {
	margin-right: 0px;
}

footer ul.social-icons li a {
	width: 24px;
	height: 24px;
	line-height: 74px;
	text-align: center;
	background-color: #fff;
	color: #232323;
	padding: 10px;
	border-radius: 50%;
	transition: all 0.3s;
}

footer ul.social-icons li a:hover {
	background-color: var(--praimar);
}

/* Sub-footer Style */




.page-heading {
	text-align: center;
	background-image: url(../images/page-heading-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 230px 0px 150px 0px;
	color: #fff;
}

.page-heading h1 {
	font-size: 38px;
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: 18px;
}

.page-heading span {
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	display: block;
}


/* team */

.team {
	background-color: #f7f7f7;
	margin-top: 140px;
	margin-bottom: -140px;
	padding: 120px 0px;
}

.team-item img {
	width: 100%;
	overflow: hidden;
}

.team-item .down-content {
	background-color: #fff;
	padding: 30px;
}

.team-item .down-content h4 {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.25px;
	margin-bottom: 10px;
}

.team-item .down-content span {
	color: var(--praimar);
	font-weight: 600;
	font-size: 14px;
	display: block;
	margin-bottom: 15px;
}

.team-item .down-content p {
	margin-bottom: 20px;
}


/* Single Service */

.single-services {
	direction: rtl;
	margin-top: 140px;
	margin-bottom: 100px;
}

#tabs ul {
  margin: 0;
  padding: 0;
}
#tabs ul li {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
#tabs ul li:last-child {
  margin-bottom: 0px;
}
#tabs ul li a {
	width: 100%;
	padding: 30px 30px;
	display: inline-block;
	background-color: var(--praimar);
  	font-size: 20px;
  	color: #121212;
	text-align: right;
  	letter-spacing: 0.5px;
  	font-weight: 700;
  	transition: all 0.3s;
}
#tabs ul li a i {
	float: left;
	margin-top: 5px;
}
#tabs ul .ui-tabs-active span {
  background: #faf5b2;
  border: #faf5b2;
  line-height: 90px;
  border-bottom: none;
}
#tabs ul .ui-tabs-active a {
  color: #fff;
}
#tabs ul .ui-tabs-active span {
  color: #1e1e1e;
}
.tabs-content {
	margin-left: 30px;
  text-align: right;
  display: inline-block;
  transition: all 0.3s;
}
.tabs-content img {
	max-width: 80%;
	overflow: hidden;
}
.tabs-content h4 {
	font-size: 22px;
	font-weight: 700;
	text-align: right;
	letter-spacing: 0.25px;
	margin-bottom: 15px;
	margin-top: 30px;
}
.tabs-content p {
  font-size: 22px;
  color: #7a7a7a;
  margin-bottom: 29px;
}

.tabs-content a{
	width: 70px;
	height: 30px;
	padding: 6px 40px;
	font-size: 18px;
	border-radius: 3px;
	border: 3px solid var(--praimar);
	color: var(--praimar);
}

.tabs-content a:hover{
	background-color:  var(--praimar);
	color: var(--second);
}


/* Contact Information */

.contact-information {
	margin-top: 140px;
}

.contact-information .contact-item {
	padding: 60px 30px;
	background-color: #f7f7f7;
	text-align: center;
}

.contact-information .contact-item i {
	color: var(--praimar);
	font-size: 49px;
	margin-bottom: 40px;
}

.contact-information .contact-item h4 {
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 0.25px;
	margin-bottom: 15px;
}

.contact-information .contact-item p {
	margin-bottom: 20px;
    font-size: 19px;

}
.contact-information .contact-item span{
	font-size: 19px;
	color: #3963ec;
	margin-right: 10px;
}

.contact-information .contact-item a {
	font-weight: 600;
	color: var(--praimar);
	font-size: 17px;
}

.error {
    color: red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 14px;
}
.cont_in.error {
    border-color: red;
    padding: .375rem .75rem;
}


/* Responsive Style */
@media (max-width: 768px) {
	.sub-header {
		display: none;
	}
	.Modern-Slider .item h6 {
	  margin-bottom: 15px;
	  font-size: 18px;
	}
	.Modern-Slider .item h4 {
	  margin-bottom: 25px;
	  font-size: 28px;
	  line-height: 36px;
	  letter-spacing: 1px;
	}
	.Modern-Slider .item p {
		max-width: 570px;
		line-height: 25px;
		margin-bottom: 30px;
	}
	.Modern-Slider .NextArrow{
	  right:5px;
	}
	.Modern-Slider .PrevArrow {
	  left:5px;
	}
	.request-form {
		text-align: center;
	}
	.request-form a.border-button {
		float: none;
		margin-top: 30px;
	}
	.services .service-item {
		margin-bottom: 30px;
	}
	.fun-facts .left-content {
		margin-right: 0px;
		margin-bottom: 30px;
	}
	.more-info .right-content  {
		padding: 30px;
	}
	footer {
		padding: 80px 0px 20px 0px;
	}
	footer .footer-item {
		border-bottom: 1px solid #343434;
		margin-bottom: 30px;
		padding-bottom: 30px;
	}
	footer .last-item {
		border-bottom: none;
	}
	.about-info .right-content {
		margin-right: 0px;
		margin-bottom: 30px;
	}
	.team .team-item {
		margin-bottom: 30px;
	}
	.tabs-content {
		margin-left: 0px;
		margin-top: 30px;
	}
	.contact-item {
		margin-bottom: 30px;
	}





}

@media (max-width: 992px) {
	.navbar .navbar-brand {
		position: absolute;
		left: 30px;
		top: 10px;
	}
	.navbar .navbar-brand {
		width: auto;
	}
	.navbar:after {
		display: none;
	}
	#navbarResponsive {
	    z-index: 99999;
	    position: absolute;
	    top: 80px;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    background-color: #fff;
	    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	}

    /*---------------------------profile----------------------------*/
.firs{
    text-align: right;
 }
 .first_name i{
color: #000;
background-color: #000;
 }

	.navbar .navbar-nav .nav-item {
		border-bottom: 1px solid #eee;
	}
	.navbar .navbar-nav .nav-item:last-child {
		border-bottom: none;
	}
	.navbar .navbar-nav a.nav-link {
		padding: 15px 0px;
		color: #1e1e1e!important;
	}
	.navbar .navbar-nav .nav-link:hover,
	.navbar .navbar-nav .active>.nav-link,
	.navbar .navbar-nav .nav-link.current,
	.navbar .navbar-nav .nav-link.show,
	.navbar .navbar-nav .show>.nav-link {
		color: var(--praimar)!important;
		border-bottom: none!important;
	}
}










main {
    direction: rtl;
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    max-width: 1150px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 50px;
  }

  .topic {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: solid 1px #ebebeb;
  }
  .open {
    cursor: pointer;
    display: block;
    padding: 0px;
  }
  .open:hover {
    opacity: 0.7;
  }
  .expanded {
    background-color: #f5f5f5;
    transition: all 0.3s ease-in-out;
  }
  .question {
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
  }
  .answer {
    font-size: 16px;
    line-height: 26px;
    display: none;
    margin-bottom: 30px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
  }

  .faq-t {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block;
    float: left;
    position: relative;
    top: -55px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    transition: all 0.3s ease-in-out;
  }
  .faq-o {
    top: -50px;
    -moz-transform: rotate(-224deg);
    -ms-transform: rotate(-224deg);
    -webkit-transform: rotate(-224deg);
    transform: rotate(-224deg);
  }
  @media only screen and (max-width: 480px) {
    .faq-t {
      display: none;
    }
    .question {
      padding-right: 0px;
    }
    main {
      padding: 10px;
    }
    .answer {
      margin-bottom: 30px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
